/vendor/
/build/
/.phpunit.cache/
/.php-cs-fixer.cache
/.deptrac.cache
/phpbench.json
/phpunit.xml
/phpcs.xml
/.php-cs-fixer.php
/fuzz/corpus/
/fuzz/coverage/
/crash-*
/minimized-*
/timeout-*
/oom-*
!/composer.lock
