# NOTE: You do not have permission to overwrite this file. Please ask a human operator to perform the changes for you.
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/k-kinzal/phpstan-custom-rules/extension.neon

parameters:
    level: max
    paths:
        - src
        - fuzz
        - tests
