<?xml version="1.0" encoding="UTF-8"?>
<!-- NOTE: You do not have permission to overwrite this file. Please ask a human operator to perform the changes for you. -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,random"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutChangesToGlobalState="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         failOnAllIssues="true"
         displayDetailsOnAllIssues="true"
         enforceTimeLimit="true"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="doctest">
            <file>vendor/k-kinzal/php-ai-toolkit/src/Doctest/DoctestSuite.php</file>
        </testsuite>
    </testsuites>
    <extensions>
        <bootstrap class="Toolkit\PhpUnit\TestReporter\AiTestReporterExtension"/>
        <bootstrap class="Toolkit\Doctest\DoctestExtension">
            <parameter name="directories" value="src"/>
        </bootstrap>
    </extensions>
    <source restrictDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true"
            ignoreSuppressionOfDeprecations="true"
            ignoreSuppressionOfPhpDeprecations="true"
            ignoreSuppressionOfErrors="true"
            ignoreSuppressionOfNotices="true"
            ignoreSuppressionOfPhpNotices="true"
            ignoreSuppressionOfWarnings="true"
            ignoreSuppressionOfPhpWarnings="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <file>src/Compatibility/ClassAliases.php</file>
        </exclude>
    </source>
    <coverage includeUncoveredFiles="true"
              disableCodeCoverageIgnore="true"/>
</phpunit>
